@use 'variables' as *;

h1 {
  font-size: 2.2rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 0.75rem;
}

p,
ul {
  font-size: 1.1em;
  color: $light-black;
  margin: 0 0 1.5rem;
  &.lead {
    color: $light-gray;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 1.6rem;
  }
  p,
  ul {
    font-size: 1.2em;
  }
}
