@use 'variables' as *;

h1 {
  font-size: 2.5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  text-align: center;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.75rem;
}

h3 {
  font-size: 0.75rem;
  color: $light-gray;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 1rem;
  font-weight: 600;
}

p,
ul {
  font-size: 1.2em;
  color: $light-black;
  margin: 0 0 1.5rem;
  &.lead {
    color: $light-gray;
    text-align: center;
    margin-bottom: 30px;
  }
}
