// Colors
$white: #fff;
$parchment: #f4f1ea;
$charcoal: #2c3e50;
$gray: #576574;
$light-gray: #86868b;
$light-black: #1d1d1f;
$yellow: #f1c40f;

// Layout
$container-max-width: 1100px;
$container-padding-x: 2.5rem; // 40px

// Breakpoints
